
body {
  background-image: url('a62.png');
  background-repeat: repeat;
  margin: 0;
  font-family: Georgia, serif;
}


.wrapper {
  width: 900px;
  margin: 20px auto;
  border: 2px solid black;
  background-color: white;
  padding: 10px;
}

header h1 {
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
  padding: 15px;
  margin: 0;
}


.content {
  display: flex;
  margin-top: 20px;
}


aside {
  width: 200px;
  margin-right: 20px;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside a {
  display: block;
  background-color: red;
  color: white;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  padding: 10px;
  text-align: center;
  border: 2px solid red;
  margin-bottom: 5px;
}

aside a:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}

main {
  flex: 1;
}


main h2 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
}


.top-section {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.top-section img {
  width: 300px;
  border: 5px solid black;
}

.text-block p {
  font-family: Georgia, serif;
  font-weight: bold;
  text-align: justify;
  margin: 10px 0;
}

.bottom-text a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.bottom-text a:hover {
  color: blue;
  text-decoration: underline;
}


footer {
  background-color: red;
  color: white;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-style: italic;
  padding: 10px;
  margin-top: 20px;
}

