body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  background-color: #ffffff;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  background: linear-gradient(to right, #990000, #ff3333);
  color: white;
  padding: 20px 0;
  text-align: center;
  border-bottom: 4px solid #c00;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
